ENGINE_PG_HOST=postgres_engine
ENGINE_PG_PORT=5432
ENGINE_PG_USER=hack
ENGINE_PG_PASSWORD=hack
ENGINE_PG_DATABASE=enginedb

SERVICE_PORT=50036
CERTS_PATH=/etc/certs

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@profdnk.local
SMTP_USE_TLS=false

DEFAULT_CLIENT_REPORT_FORMAT=client_docx
