SERVICE_PORT=50037
CERTS_PATH=/etc/certs
MIGRATIONS_PATH=/app/internal/migrations/init.sql

AUTH_PG_HOST=postgres_auth
AUTH_PG_PORT=5432
AUTH_PG_USER=hack
AUTH_PG_PASSWORD=hack
AUTH_PG_DATABASE=authdb
AUTH_PG_SSL_MODE=disable

ACCESS_SECRET_KEY=change-me-access-secret
REFRESH_SECRET_KEY=change-me-refresh-secret

AUTH_BOOTSTRAP_ADMIN_EMAIL=admin@profdnk.local
AUTH_BOOTSTRAP_ADMIN_PASSWORD=admin12345
AUTH_BOOTSTRAP_ADMIN_FULL_NAME=System Administrator
AUTH_BOOTSTRAP_ADMIN_PHONE=+70000000000
AUTH_BOOTSTRAP_ADMIN_ACCESS_UNTIL=2099-12-31
AUTH_BOOTSTRAP_ADMIN_ROLE=admin
