# Скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Расширения C
*.so

# Виртуальные окружения
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Сборка и пакеты (pip, setuptools)
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Логи установщиков
pip-log.txt
pip-delete-this-directory.txt

# Тесты и покрытие кода
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IDE и текстовые редакторы
.idea/
.vscode/
*.swp
*.swo

# Системные файлы (macOS, Windows)
.DS_Store
Thumbs.db
